<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>login</title>
<link rel="stylesheet"  href="/static/css/component.css" />
<link rel="stylesheet"  href="/static/css/normalize.css" />
<link rel="stylesheet"  href="/static/css/demo.css" />
</head>
<body>
		<div class="container demo-1">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<div class="logo_box">
						<h3>欢迎你</h3>
						<form action="/update/" name="f" method="get">
                            <input type="hidden" name="id"  value="{% for x in user %}{{ x.id }}{% endfor %}">
							<div class="input_outer">
								<span class="u_user"></span>
								<input name="username"
                                       value="{% for x in user %}{{ x.username }}{% endfor %}"
                                       class="text" style="color: #ffffff !important" type="text" placeholder="请输入账户">
							</div>
							<div class="input_outer">
								<span class="us_uer"></span>
								<input name="password"
                                       value="{% for x in user %}{{ x.password }}{% endfor %}"
                                       class="text" style="color: #ffffff !important; position:absolute; z-index:100; type="password" placeholder="请输入密码">
							</div>
							<button type="submit" class="act-but submit" style="color: #ffffff">确认修改</button>
						</form>
					</div>
				</div>
			</div>
		<script src="/static/js/demo-1.js"></script>
        <script src="/static/js/EasePack.min.js"></script>
        <script src="/static/js/rAF.js"></script>
        <script src="/static/js/TweenLite.min.js"></script>
        		<div style="text-align:center;">
</div>
	</body>
</html