<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>成功页面</title>
    <link rel="stylesheet"  href="/static/css/component.css" />
    <style>
        .all{
            width: 100%;
            height: 100%;
            background-image:url("../static/img/bg2.jpg");
        }
    </style>
    <script>
        function jsonDel(id) {
            window.location.href="/jsonDel/?id="+id+""
        }
        function ginUser() {
             window.location.href="/deng/"
        }
    </script>
</head>
<body>
<div class="all">
  <!-- 显示所有账户在表格，进行各种操作-->
  <center>
      电影大全！<br>
          <form action="/jsonUserByUsername/" method="get">
              <input type="text" name="username" placeholder="请输入查询">
              <input type="submit"  value="查询电影">
          </form>

      <table border="1px" style="width: 100%;height: 100%;border-collapse: collapse;text-align: center" >
          <th>rate</th>
          <th>title</th>
          <th>url</th>
          <th>cover</th>
          <th>操作</th>

          {% for x in json %}
             <tr>
                 <td>{{ x.rate }}</td>
                 <td>{{ x.title }}</td>
                 <td>{{ x.url }}</td>
                 <td>{{ x.cover }}</td>
                 <td><button onclick="jsonDel({{ x.id }})" >删除</button></td>
             </tr>
          {% endfor %}
      </table>
  </center>
<button onclick="ginUser()" type="submit" class="act-but13 submit" style="color: #ffffff" >返回登录</button>
</div>
</body>
</html>